<h1 align="center">Log in</h1>

<div class='row'>

  <div class='col-xs-12'>

    <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |form| %>
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="actions">
        <%= form.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
